<h2>Template: Switches</h2>
<hr />

<form #miFormulario="ngForm">
  <!--Radio-->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          class="form-check-input"
          name="radioGenero"
          id="radioMasculino"
          required
        />
        <label for="radioMasculino" class="form-check-label"> Masculino </label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          class="form-check-input"
          name="radioGenero"
          id="radioFemenino"
          required
        />
        <label for="radioFemenino" class="form-check-label"> Femenino </label>
      </div>
    </div>
  </div>

  <!--Switches-->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          type="checkbox"
          class="form-check-input"
          name="notificaciones"
          id="flexCheck"
          [(ngModel)]="persona.notificaciones"
        />
        <label for="flexCheck" class="form-check-label">
          Quiero recibir notificaciones
        </label>
      </div>
    </div>
  </div>

  <!--Check-->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="flexCheckbox"
          name="terminos"
          [(ngModel)]="terminoYCondiciones"
          required
        />
        <label for="flexCheckbox" class="form-check-label"
          >Términos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>

<h5>Términos y Condiciones</h5>
<pre>{{ miFormulario.controls?.terminos?.errors | json }}</pre>

<h5>Condiciones</h5>
